body {
  font-family: "Inter", sans-serif;
  background-color: #E4EEF1;
  cursor: url("../../assets/img/cursor-default.cur"), default;
}

a {
  cursor: url("../../assets/img/cursor-pointer.cur"), pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 65px;
}
